@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* nav style start */
nav{
    width: 100%;
    height: 100%;
    background-color: white;
}
.nav-items{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
}

.logo-items{
    display: flex;
    width: 50%;
   
}
.logo-items img{
    width: 60px;
    height: 30px;
    object-fit: cover;
    margin-top: 40px;
}
.logo-items h3{
    font-size: 35px;
    color: #0B0223;
    font-style: normal;
    font-weight: 700;
}
.game-section{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu-items{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu-items a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    margin-right: 30px;
}
.nav-menu-items a i{
    color: #F61C0D;
}
.nav-menu-items .follow-btn{
    background: rgba(11, 2, 35, 0.10);
    width: 200px;
    height: 50px;
    text-align: center;
    padding: 17px 0;
    border-radius: 8px;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
/* nav style end */

/* banner style start */
.banner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.banner-content{
    background-image: url(../images/Group\ 14.png);
    width: 50%;
    max-height: 100%;
    margin: auto;
    text-align: start;
    padding: 150px 150px;
}
.banner-content h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    }
.banner-content h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}
.banner-content h6{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin: 20px 0;

}
.banner-content h6 i{
    color: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%))
}
.banner-content .banner-click{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%))
}
.btn-classic{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: white;
    font-size: 20px;
    border: none;
    padding: 15px 40px;

}
.btn-primary{
    border-radius: 48px;
    background: #4EC5F7;
    color: white;
    font-size: 20px;
    border: none;
    padding: 15px 40px;
}

.banner-img{
    width: 50%;
}
/* banner style end */

/* gamer style start */

.gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.gamer-content{
    text-align: end;
    padding-right: 100px;
}
.gamer-content h3{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.gamer-content p{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.gamer-content p span{
    font-weight: bold;
}

.gamer-img{
}

/* gamer style end */

/* online style start */
.online{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 150px;
}
.online-content h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.online-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.online-content h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-content-img{
    display: flex;
    justify-content: space-between;
    text-align: start;
    gap: 10px;
}
.online-image{
    border-radius: 16px;
    position: relative;
}
.online-image img{
    width: 90%;
    height: 90%;
}
.online-image-overlay{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 90%;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
    margin: auto 0;
	opacity: 0;
	trasition: .5s;
    overflow-y: hidden;
}
.online-image-overlay h5{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}
.online-image-overlay i {
    color: white;
    font-size: 20px;
}
.online-image:hover .online-image-overlay{
    opacity: .9;
}

/* online style end */

/* play style start*/

.play{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.play-content{
    width: 50%;
}
.play-content h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}
.play-content h3 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-content p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}
.play-img{
    position: relative;
    width: 50%;
}
.play-img-image{
    position: absolute;
    top: 60%;
    left: -20%;
}

/* play style end*/

/* button style start*/
.button{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    text-align: center;
    margin: 100px auto;
    padding: 100px 0;
}
.button-item1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.button-item2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

}
.button-content a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.button-content a icon{
}

.btn-active{
    background-color: white;
    border: none;
    text-align: center;
    color: #0B0223;
    font-size: 20px;
    cursor: pointer;
}

.button-content icon img{
    width: 40px;
    height: 40px;

}

.button-content:hover{
    border: 1px solid rgb(255, 34, 185);
    border-radius: 50px;
    margin: 0;
}

/* button style end*/

/* footer style start*/
.footer{
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 100px 0;
}
.footer-items img{
    width: 86.041px;
    height: 40px;
    margin-top: 40px;
}
.footer h3{
    color: white;
    font-size: 40px;
}
.footer-items{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.social-icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #1877F2;
    font-size: 30px;
}
.social-icon a{
    margin-right: 15px;
    color: white;
    margin-bottom: 10px;
}
.footer-list{
    margin-bottom: 20px;
}
.footer-list a{
    text-decoration: none;
    margin-right: 50px;
    color: white;
}
.footer p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* footer style end*/

